<div class="home">
    <section id="hero" class="secciones hero">
        <div>
            <div class="inner">
                <h2><span>Hola, Les dejo mi CV</span></h2>
                <h1>Franco Cerioni</h1>
                <span class="title">.: Fullstack Developer :.</span>
            </div>
        </div>
    </section>
    <section id="experiencia" class="secciones about">
        <div class="timeline">
            <!-- Left vertical line -->
            <div class="line">
            </div>
            <!-- The timeline items container -->
            <ul class="listitems">
                <!-- Each timeline item -->
                <li>
                    <!-- The circle and title -->
                    <div>
                        <!-- The circle -->
                        <div class="circle">
                        </div>

                        <!-- The title -->
                        <div class="title">
                            Tecnico Electrónico Industrial
                        </div>
                    </div>

                    <!-- The description -->
                    <div class="description">
                        Soy tecnico electrónico Industrial, recibido en el ITS Villada, tambíen poseo titulos intermedios,
                        como, Ayudante Electromecanico y Técnico en programación.
                        Aqui comence con la programacion de bajo nivel (assembler), para dispositivos embebidos y microcontroladores.
                        Poseo Conocimientos en C++ y C gracias a esto.
    
                        Me recibi en 2004.
                    </div>
                </li>

                <!-- Repeat other items -->

                <li>
                    <!-- The circle and title -->
                    <div>
                        <!-- The circle -->
                        <div class="circle">
                        </div>

                        <!-- The title -->
                        <div class="title">
                            [2004 - 2011] Telvent Argentina S.A.
                        </div>
                    </div>

                    <!-- The description -->
                    <div class="description">
                        Mantenimiento de red semafórica, CCTV, redes y sincronismo. La empresa dejó de realizar el mantenimiento.
                    </div>
                </li>

                <li>
                    <!-- The circle and title -->
                    <div>
                        <!-- The circle -->
                        <div class="circle">
                        </div>

                        <!-- The title -->
                        <div class="title">
                            [20011 - 2011] JazzPlatt S.A.
                        </div>
                    </div>

                    <!-- The description -->
                    <div class="description">
                        Asistencia Tecnica Telefonica (a tecnicos de telefonia e internet).
                        Manejo de "robots" de control y testeo de redes. Calculos de impedancias.
                    </div>
                </li>

                <li>
                    <!-- The circle and title -->
                    <div>
                        <!-- The circle -->
                        <div class="circle">
                        </div>

                        <!-- The title -->
                        <div class="title">
                            [20011 - ACTUALIDAD] ECOGAS
                        </div>
                    </div>

                    <!-- The description -->
                    <div class="description">
                        Soporte informático de primer y segundo nivel.
                        Herramientas de gestion (manage engine), gestion de incidentes, parches, MDM.
                        Administrador AD, Hyper V. Conocimiento de REDES y Echange.

                        Cabe destacar que desde el 2004 desempeño por mi cuenta los mismos servicios a particulars y empresas.
                    </div>
                </li>

            </ul>
        </div>
    </section>

    <section id="proyectos" class="secciones proyectos">
        <app-list-projects></app-list-projects>
    </section>
</div>