<div class="home">
    <div id="hero">
        <section  class="secciones hero">
            <div>
                <div class="inner">
                    <h2><span>Hola, Les dejo mi CV</span></h2>
                    <h1>Franco Cerioni</h1>
                    <span class="title">.: Fullstack Developer :.</span>
                </div>
            </div>
        </section>
    </div>
    <div id="experiencia">
        <section class="secciones about">
            <app-about></app-about>
        </section>
    </div>
    <div id="proyectos">
        <section class="secciones proyectos">
            <app-list-projects></app-list-projects>
        </section>
    </div>
</div>