@import '../../../assets/partials/variables';
.home{
    height: 100%;
    overflow: scroll;
    .secciones{
        height: 100%;
        width: 100%;
        position: sticky;
        top: 0;
    }
    .hero{
        &>div{
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            width: 100%;
            background-image: url("https://cdn.pixabay.com/photo/2017/10/24/07/12/hacker-2883632_1280.jpg");
            background-position: center center; 
            background-size: cover;
            background-repeat:no-repeat;
            text-align: center;
            h2{
                font-family: $handlee;
                font-size: 250%;
                color: white;
            }
            h1{
                font-size: 300%;
                color: white;
                font-family: $handlee;
            }
            .title{
                font-size: 140%;
                color: white;
            }
        }
    }
    .about{
        background-color: white;
        padding: 40px;
        .accordion {
            /* Border */
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-bottom-color: transparent;
            border-radius: 4px;

            .accordion__item {
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);

                .accordion__header {
                    /* Center the content horizontally */
                    align-items: center;
                    display: flex;
        
                    cursor: pointer;
                    padding: 16px;

                    .accordion__toggle {
                        margin-right: 12px;
                    }
            
                    .accordion__title {
                        /* Take remaining width */
                        flex: 1;
                    }
                }
                .accordion__content {
                    /* For not selected item */
                    display: none;
        
                    border-top: 1px solid rgba(0, 0, 0, 0.3);
                    padding: 16px;
                    .accordion__content--selected {
                        /* For selected item */
                        display: block;
                    }
                }
        
                
                
                
            }
        }


        
    }
    .proyectos{
        background-color: lightgray;
        padding: 40px;
          height: 100vh;

    }

}