<div class="home">
    <div id="hero">
        <section  class="secciones hero">
            <div>
                <div class="inner">
                    <h2><span>Hola, Les dejo mi CV</span></h2>
                    <h1>Franco Cerioni</h1>
                    <span class="title">.: Fullstack Developer :.</span>
                </div>
            </div>
        </section>
    </div>
    <div id="experiencia">
        <section class="secciones about">
            <div class="accordion">
                <!-- Each accordion item -->
                <div class="accordion__item">
                    <!-- Heading -->
                    <div class="accordion__header">
                        <!-- The toggle icon -->
                        <div class="accordion__toggle">TECNICO ELECTRONICO INDUSTRIAL</div>
            
                        <!-- The title -->
                        <div class="accordion__title">
                            EXPERIENCIAS Y SKILLS
                        </div>
                    </div>
            
                    <!-- The content -->
                    <div class="accordion__content">
                        [2004 - 2011] Telvent Argentina S.A.
                    </div>
                </div>
            
                <div class="accordion__item">
                    <!-- Heading -->
                    <div class="accordion__header">
                        <!-- The toggle icon -->
                        <div class="accordion__toggle">TECNICO ELECTRONICO INDUSTRIAL</div>
            
                        <!-- The title -->
                        <div class="accordion__title">
                            EXPERIENCIAS Y SKILLS
                        </div>
                    </div>
            
                    <!-- The content -->
                    <div class="accordion__content">
                        [2004 - 2011] Telvent Argentina S.A.
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="proyectos">
        <section class="secciones proyectos">
            <app-list-projects></app-list-projects>
        </section>
    </div>
</div>