.list-projects{
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    .proyecto{
        padding-left: 8px;
        padding-right: 8px;
        background-color: gray;
        margin: 1%;
        
        img{
            max-height: 22%;
            object-fit: contain;
        }
    }
}

.filtroCategorias{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    ul{
        list-style: none;
        li{
            display: inline-block;
            padding: 10px;
            background-color: black;
            color: white;
            margin-right: 5px;
            cursor: pointer;
        }
    }
}

@media(min-width: 768px)
{
    .list-projects{
        .proyecto{
          flex-basis: 98%;
        }    
    }
        
}

@media(min-width: 1120px)
{
    .list-projects{
        .proyecto{
          flex-basis: 48%;
        }    
    }
        
}

@media(min-width: 1500px)
{
    .list-projects{
        .proyecto{
          flex-basis: 22%;
        }    
    }
        
}

